<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation">
        <%= link_to "Log out", logout_path, method: "delete" %>
      </li>
    </ul>
  </nav>
  <h3>Offers</h3>
  <p class="text-muted">Ruby on Rails application using MongoDB and Bootstrap CSS</p>
</div>